/* body */
    body{
        background-color: #E9ECF5;
        font-family: "Fjalla One", sans-serif;
        font-weight: 200;
        font-style: normal;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        background-image: url("../img/blossom.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
/* body */

/*------------------------------------------------------------------------------*/

/* header, footer */
    header, footer{
        background-color: #993955;
        width: auto;
        color: #E9ECF5;
    }

    header{
        text-align: center;
        font-size: large;
        font-weight: bold;
        padding-bottom: 5vh;
        width: 100%;
        margin-bottom: 20px;
        font-size: 3vh;
        background-image: url("../img/blossom.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    header h1{
        margin: 0;
        padding: 2vh 0 1vh 0;
        text-shadow: -0.3vh 0 #592231, 0 0.3vh #592231, 0.3vh 0 #592231, 0 -0.3vh #592231;
        letter-spacing: 0.5vh;
    }

    header a{
        color: #E9ECF5;
        text-decoration: none;
        border: 0.1vh solid none;
        background-color: #592231;
        padding: 1vh 2vh 1vh 2vh;
        border-radius: 3vh;
    }

    header a:hover{
        background-color: #772C41;
    }

    footer{
        text-align: center;
        font-size: small;
        margin-top: 20px;
        width: 100%;
        font-size: 2vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 
/* header, footer */

/*------------------------------------------------------------------------------*/

/* konterner dla gier na stronie głównej i liście gier */
    .game{
        width:fit-content;
        height: fit-content;
        padding: 10px;
        margin: 10px;
        background-color: #ffc6d1;
        display: block;
        border: 2px, solid, #d58694;
        color: #451e26;
        font-size: 23px;
        position: relative;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .game i{
        font-size: 18px; 
        color: #733d46;
    }

    .game button{
        background-color: #d58694;;
        border: #d58694 2px solid;
        padding: 5px 10px 5px 10px; 
        margin-right: 5px;
        border-radius: 5px;
        color: #451e26;
        font-family: "Fjalla One", sans-serif;
        font-size: 15px;
    }

    .game:hover{
        background-color: #E9ECF5;
        border: 2px, solid, #A3C3D9;
        color: #002238;
        button{
            background-color: #CCD6EB;
            border: #A3C3D9 2px solid;
            color: #002238;
        }
        i{
            color: #002238;
        }
    }

    .game button:hover{
        background-color: #A3C3D9;
    }
/* konterner dla gier na stronie głównej i liście gier */

/*------------------------------------------------------------------------------*/

/* Lista gier */
    #gameList{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        list-style: none;
        padding: 0;
        margin: 20px;
    }

    #listGameList{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 20px;
    }

    #sortOptions{
        width: fit-content;
        height: fit-content;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #451e26;
        background-color: #ffc6d1;
        color: #451e26;
        margin-right: 4vh;
        right: 0;
        top: 23vh;
        position: absolute;
    }

    #sortBtn{
        background-color: #d58694;
        border: #d58694 2px solid;
        padding: 10px 20px;
        border-radius: 5px;
        color: #451e26;
        font-family: "Fjalla One", sans-serif;
        font-size: 16px;
        margin: 20px auto;
        display: block;
    }
/* Lista gier */

/*------------------------------------------------------------------------------*/

/* formularz do dodawania gier i edytowania */
    #form{
        color: #451e26;
        margin: auto;
        width: fit-content;
        padding: 20px;
        text-align: center;
        background-color: #d58694;
        border: #ffc6d1 2px solid;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
    }

    #form input, #form select, #form textarea, #form button{
        width: 200px;
        padding: 5px;
        margin: 8px;
        border-radius: 5px;
        border: 1px solid #451e26;
        resize: none;
        background-color: #ffc6d1;
        color: #451e26;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #form h2{
        font-size: 30px;
        margin-bottom: 20px;
        letter-spacing: 5px;
    }

    #form input:focus, #form select:focus, #form textarea:focus, #form button:hover{
        background-color: #f8d4dc;
    }

    #form button{
        font-size: 20px;
        text-transform: uppercase;
        font-family: "Fjalla One", sans-serif;
        padding: 10px 20px 10px 20px;
    }
/* formularz do dodawania gier i edytowania */

/*------------------------------------------------------------------------------*/

/* kontener dla konkretnych gier */
    .description{
        width: 500px;
        height: fit-content;
        padding: 20px;
        margin: 10px;
        background-color: #ffc6d1;
        display: flex;
        flex-direction: column;
        border: 2px, solid, #d58694;
        color: #451e26;
        position: relative;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        justify-self: center;
    }

    .description .title {
        text-align: center;
        margin-bottom: 20px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .description h3{
        margin: 0 0 1px 0 ;
    }

    .description .desc {
        text-align: left;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .description .status {
        text-align: right;
    }
/* kontener dla konkretnych gier */