<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>TWOJA BIBLIOTEKA GIER</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/logo.png">
</head>
<body>
<header>
    <h1> TWOJA BIBLIOTEKA GIER</h1>
    <nav>
        <a href="/"><b>STRONA GŁÓWNA</b></a> <a href="/add"><b>DODAJ GRĘ</b></a> <a href="/list"><b>LISTA GIER</b></a>
    </nav>
</header>
